/.DS_Storebuild/
*.o
*.make
*.internal
*.cmake
*.rsp
*.conan
*.idx
*.pyi
*.sh
*.typed
*.plist
*.d
*.check_cache
*.yaml
*.ts
*.out
*.log
*.1
*.svg
*.json
AutoViz
*.csv
*.ipynb
moc_*.cpp
mocs_*.cpp
*.pyc

#Virtual Environments
.venv
venv
.DS_Store
Makefile2
Makefile